{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>CDR Analyzer</title>
<link rel="stylesheet" href="{% static 'test.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
<link href="//cdn.qatatables.net/1.10.20/css/ query datatables.min.css" rel="stylesheet"/>
<script src="//code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.datatables.min.js"></script>
</head>
<body>
  <div class="toptab">
  <img src="{% static 'logo1.png' %}" style="width: 350px; margin-left: 10px;">

  <button type="button" name="Summary" id="b1" >Upload</button>
  <button type="button" name="Summary" id="b2">Summary</button>
  <button type="button" name="Download" id="b3">About</button>
  <div class="dropdown">
  <button class="dropbtn">Download</button>
  <div class="dropdown-content">
  <a onclick="exportTableToCSV('members.csv')">XML</a>
  <a href="#">PDF</a>
  <a href="#">DOC</a>
  </div>
</div>
  </div>
 
<ul>

  <li><a href="/" class="tablinks" onclick="myfunction(event, 'Home')"><img src="https://img.icons8.com/material-sharp/30/ffffff/home.png"/> Home</a></li>
  <li><a href="MaxCaller" class="tablinks" onclick="myfunction(event, 'MaxCaller')"><img src="https://img.icons8.com/metro/26/ffffff/phone-disconnected.png"/> Max Caller</a></li>
  <li><a href="MaxDuration" class="tablinks" onclick="myfunction(event, 'MaxDuration')"><img src="https://img.icons8.com/metro/26/ffffff/time-machine.png"/> Max Duration</a></li>
  <li><a href="MaxIMEI" class="tablinks" onclick="myfunction(event, 'MaxIMEI')"><img src="https://img.icons8.com/material/24/ffffff/iphone--v1.png"/> Max IMEI</a></li>
  <li><a href="MaxLocation" class="tablinks" onclick="myfunction(event, 'MaxLocation')"><img src="https://img.icons8.com/material/24/ffffff/worldwide-location--v1.png"/> Max Location</a></li>
  <li><a href="CellId" class="tablinks" onclick="myfunction(event, 'CellId')"><img src="https://img.icons8.com/material/24/ffffff/radio-tower.png"/> Cell ID</a></li>
  
</ul>

<div class="output" style="margin-left:15%;padding:50px 16px;height:100%;">
  <div id="Home" class="tabcontent" style="display: block">
   <div class="filter">
    <form method="POST">
      {% csrf_token %}
    From:<input type="date" name="fromdate" />
    To:<input type="date" name="todate"/>
    <input type="submit" value="search"/>
    </form>
    <div class="reset"><a href="" onclick="myfunction(event, 'reset')"><img src="https://img.icons8.com/android/20/000000/recurring-appointment.png"/></a></div>
    
  
    <h3>Home</h3>
    <hr>
  </div>
    
<div class="tb-container">
    <table border="1" id="example">
      <tr>
        <th>CallingNo</th>
        <th>CalledNo</th>
        <th>CallType</th>
        <th>CallDate</th>
        <th>CallTime</th>
        <th>CallDuration</th>
        <th>FirstCellId</th>
        <th>LastCellId</th>
        <th>IMEI</th>
        <th>Circle</th>
      </tr>
      {% for i in CDRdb%}
      <tr>
        <td>{{i.CallingNo}}</td>
        <td>{{i.CalledNo}}</td>
        <td>{{i.CallType}}</td>
        <td>{{i.CallDate}}</td>
        <td>{{i.CallTime}}</td>
        <td>{{i.CallDuration}}</td>
        <td>{{i.FirstCellId}}</td>
        <td>{{i.LastCellId}}</td>
        <td>{{i.IMEINo}}</td>
        <td>{{i.Circle}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
    
  </div>
  <div id="MaxCaller" class="tabcontent" style="display: none">
    <h3>Max Caller </h3>
    <table border="1">
      <tr>
        
        <th>CalledNo</th>
        <th>No. of Calls</th>
       
        <th>CallDuration</th>
        
      </tr>
      {% for i in Max_Call%}
      <tr>
        
        <td>{{i.CalledNo}}</td>
        <td>{{i.Total_Duration}}</td>
        <td>{{i.total}}</td>
        
      
      </tr>
      {% endfor %}
    </table>
  </div>
  <div id="MaxDuration" class="tabcontent" style="display: none">
    <h3>Max Duration</h3>
  </div>
  <div id="MaxIMEI" class="tabcontent" style="display: none">
    <h3>Max IMEI</h3>
  </div>
  <div id="MaxLocation" class="tabcontent" style="display: none">
    <h3>Max Location</h3>
  </div>
  <div id="CellId" class="tabcontent" style="display: none">
    <h3>Cell ID</h3>
  </div>
  <div id="reset" class="tabcontent" style="display: none">
    <table border="1">
      <tr>
        <th>CallingNo</th>
        <th>CalledNo</th>
        <th>CallType</th>
        <th>CallDate</th>
        <th>CallTime</th>
        <th>CallDuration</th>
        <th>FirstCellId</th>
        <th>LastCellId</th>
        <th>IMEI</th>
        <th>Circle</th>
      </tr>
      {% for i in CRDdb%}
      <tr>
        <td>{{i.CallingNo}}</td>
        <td>{{i.CalledNo}}</td>
        <td>{{i.CallType}}</td>
        <td>{{i.CallDate}}</td>
        <td>{{i.CallTime}}</td>
        <td>{{i.CallDuration}}</td>
        <td>{{i.FirstCellId}}</td>
        <td>{{i.LastCellId}}</td>
        <td>{{i.IMEINo}}</td>
        <td>{{i.Circle}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
</div>
<script src="{% static 'script.js' %}" charset="utf-8">
</script>

<script>
    function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV file
      csvFile = new Blob([csv], {type: "text/csv"});
      

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Hide download link
      downloadLink.style.display = "none";

      // Add the link to DOM
      document.body.appendChild(downloadLink);

      // Click download link
      downloadLink.click();
  }


  function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

        csv.push(row.join(","));
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}
</script>

</body>
</html>
